Segundo laboratorio Automatización : 

Karen Tatiana Olarte

María José Rodriguez

Maria Jose Bedoya

In [2]:
import pandas as pd
df= pd.read_csv("census.csv")

In [3]:
# Veamos el dataset:
df

,age,workclass,education,race,sex,hours_per_week,USA_born,label
0,39.0,State-gov,Bachelors,White,Male,40.0,1.0,<=50K
1,50.0,Self-emp-not-inc,Bachelors,White,Male,13.0,1.0,<=50K
2,38.0,Private,High-school,White,Male,40.0,1.0,<=50K
3,53.0,Private,Some-high-school,Black,Male,40.0,1.0,<=50K
4,28.0,Private,Bachelors,Black,Female,40.0,0.0,<=50K
...,...,...,...,...,...,...,...,...
41711,33.0,Private,Bachelors,White,Male,40.0,1.0,<=50K
41712,39.0,Private,Bachelors,White,Female,36.0,1.0,<=50K
41713,38.0,Private,Bachelors,White,Male,50.0,1.0,<=50K
41714,44.0,Private,Bachelors,Asian-Pac-Islander,Male,40.0,1.0,<=50K
41715,35.0,Self-emp-inc,Bachelors,White,Male,60.0,1.0,>50K

In [ ]:
# Descripción de las columnas:
df.info()
df.shape[1]                 #Dimensiones del df, (0,1), 1-->columnas, #de columnas=8

                age  hours_per_week      USA_born
count  41617.000000    41631.000000  41701.000000
mean      38.476608       40.743220      0.895062
std       13.365972       12.000085      0.306477
min       17.000000        1.000000      0.000000
25%       28.000000       40.000000      1.000000
50%       37.000000       40.000000      1.000000
75%       47.000000       45.000000      1.000000
max       90.000000       99.000000      1.000000

In [6]:
# Verifiquemos si hay datos faltantes:
print('Valores faltantes por columna:\n ')
print(df.isnull().sum(), '\n')

Valores faltantes por columna:

age               99
workclass         11
education         14
race              16
sex               15
hours_per_week    85
USA_born          15
label              0
dtype: int64

In [ ]:
# Descartemos las filas que tengan 3 o más datos faltantes:
df=df.dropna(thresh= df.shape[1] - 3)        #.dropna elimina las filas o columnas con valores faltantes(NaN)
                                             #df.shape arroja las dimensiones del dataframe (0,1), 1-->columnas, #de columnas=8
                                             #thresh=numero minimo de valores validos no nulos, en este caso sería, 8-3=5, 5 valores minimos no nulos

Valores faltantes tras descartar filas con tres o más valores faltantes:

age               85
workclass          0
education          0
race               0
sex                0
hours_per_week    68
USA_born           0
label              0
dtype: int64

In [ ]:
# Contemos de nuevo los datos faltantes:
print('Valores faltantes tras descartar filas con tres o más valores faltantes: \n')
print(df.isnull().sum(), '\n')

age               85
workclass          0
education          0
race               0
sex                0
hours_per_week    68
USA_born           0
label              0
dtype: int64

In [ ]:
# Imputemos los datos faltantes de edad y horas trabajadas por semana con la mediana de cada una de esas columnas:
for i in ['age', 'hours_per_week']:
    df.loc[:, i] = df[i].fillna(df[i].median())                #Para cada columna i calcula la mediana df[i].median()
                                                               #Se reemplazan los valores NaN con la mediana por medio de df[i].fillna
print('Valores faltantes tras imputar con la mediana: \n ')    #df.loc[:, i] Modificación de la columna original del df 
print(df[['age', 'hours_per_week']].isnull().sum(), '\n')      #Se muestran los valores nulos que resultan en ambas columnas (cero para ambas)

Valores faltantes tras imputar con la mediana:

age               0
hours_per_week    0
dtype: int64

In [12]:
# Contemos de nuevo los datos faltantes:
print(df.isnull().sum(), '\n')

age               0
workclass         0
education         0
race              0
sex               0
hours_per_week    0
USA_born          0
label             0
dtype: int64

In [13]:
# Apliquemos one-hot encoding a la columna "workclass":
df=pd.get_dummies(df, columns=['workclass'])

In [14]:
# Hallemos los valores que toma la columna "education":
df=df.sort_values(by='education')
df['education'].unique()

array(['Bachelors', 'Doctorate', 'Elementary-school', 'High-school',
       'Masters', 'Middle-school', 'Preschool', 'Some-college',
       'Some-high-school', 'Some-middle-school'], dtype=object)

In [19]:
# Apliquemos ordinal encoding a la columna "education":
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder()
df['education_encoded'] = encoder.fit_transform(df[['education']])

In [20]:
# Verifiquemos que la columna "education" tenga los valores apropiados:
df['education'].unique()

array(['Bachelors', 'Doctorate', 'Elementary-school', 'High-school',
       'Masters', 'Middle-school', 'Preschool', 'Some-college',
       'Some-high-school', 'Some-middle-school'], dtype=object)

In [22]:
# Apliquemos one-hot encoding a la columna "race":
df=pd.get_dummies(df, columns=['race'])

In [21]:
# Apliquemos binary encoding a la columna "sex":
df['sex_binary']=df['sex'].map({'Female': 0, 'Male': 1})

In [23]:
# Apliquemos binary encoding a la etiqueta:
df['label_binary']=df['label'].map({'<=50K':0, '>50K':1})

In [25]:
# Veamos el dataset resultante:
df.head()

,age,education,sex,hours_per_week,USA_born,label,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,...,workclass_State-gov,workclass_Without-pay,education_encoded,sex_binary,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,label_binary
0,39.0,Bachelors,Male,40.0,1.0,<=50K,False,False,False,False,...,True,False,0.0,1,False,False,False,False,True,0
18058,26.0,Bachelors,Female,40.0,1.0,<=50K,False,True,False,False,...,False,False,0.0,0,False,False,True,False,False,0
18059,56.0,Bachelors,Male,65.0,1.0,<=50K,True,False,False,False,...,False,False,0.0,1,False,False,True,False,False,0
18068,59.0,Bachelors,Male,30.0,1.0,<=50K,False,True,False,False,...,False,False,0.0,1,False,False,True,False,False,0
18071,70.0,Bachelors,Male,20.0,0.0,<=50K,False,False,True,False,...,False,False,0.0,1,False,False,False,False,True,0

In [26]:
# Veamos la nueva descripción del dataset:
print(df.describe(include='all'))

                 age    education    sex  hours_per_week      USA_born  label  \
count   41694.000000        41694  41694    41694.000000  41694.000000  41694
unique           NaN           10      2             NaN           NaN      2
top              NaN  High-school   Male             NaN           NaN  <=50K
freq             NaN        14968  28187             NaN           NaN  31797
mean       38.471651          NaN    NaN       40.742529      0.895045    NaN
std        13.351404          NaN    NaN       11.990589      0.306499    NaN
min        17.000000          NaN    NaN        1.000000      0.000000    NaN
25%        28.000000          NaN    NaN       40.000000      1.000000    NaN
50%        37.000000          NaN    NaN       40.000000      1.000000    NaN
75%        47.000000          NaN    NaN       45.000000      1.000000    NaN
max        90.000000          NaN    NaN       99.000000      1.000000    NaN

       workclass_Federal-gov workclass_Local-gov workclass_Private  \
count                  41694               41694             41694
unique                     2                   2                 2
top                    False               False              True
freq                   40442               38854             30954
mean                     NaN                 NaN               NaN
std                      NaN                 NaN               NaN
min                      NaN                 NaN               NaN
25%                      NaN                 NaN               NaN
50%                      NaN                 NaN               NaN
75%                      NaN                 NaN               NaN
max                      NaN                 NaN               NaN

       workclass_Self-emp-inc  ... workclass_State-gov workclass_Without-pay  \
count                   41694  ...               41694                 41694
unique                      2  ...                   2                     2
top                     False  ...               False                 False
freq                    40246  ...               39897                 41675
mean                      NaN  ...                 NaN                   NaN
std                       NaN  ...                 NaN                   NaN
min                       NaN  ...                 NaN                   NaN
25%                       NaN  ...                 NaN                   NaN
50%                       NaN  ...                 NaN                   NaN
75%                       NaN  ...                 NaN                   NaN
max                       NaN  ...                 NaN                   NaN

       education_encoded    sex_binary  race_Amer-Indian-Eskimo  \
count       41694.000000  41694.000000                    41694
unique               NaN           NaN                        2
top                  NaN           NaN                    False
freq                 NaN           NaN                    41302
mean            4.043316      0.676045                      NaN
std             2.747751      0.467989                      NaN
min             0.000000      0.000000                      NaN
25%             3.000000      0.000000                      NaN
50%             3.000000      1.000000                      NaN
75%             7.000000      1.000000                      NaN
max             9.000000      1.000000                      NaN

       race_Asian-Pac-Islander race_Black race_Other race_White  label_binary
count                    41694      41694      41694      41694  41694.000000
unique                       2          2          2          2           NaN
top                      False      False      False       True           NaN
freq                     40426      37676      41343      35665           NaN
mean                       NaN        NaN        NaN        NaN      0.237372
std                        NaN        NaN        NaN        NaN      0.425477
min                        NaN        NaN        NaN        NaN      0.000000
25%                        NaN        NaN        NaN        NaN      0.000000
50%                        NaN        NaN        NaN        NaN      0.000000
75%                        NaN        NaN        NaN        NaN      0.000000
max                        NaN        NaN        NaN        NaN      1.000000

[11 rows x 21 columns]

In [27]:
# Verifiquemos el tipo de dato de cada columna:
print(df.dtypes)

age                           float64
education                      object
sex                            object
hours_per_week                float64
USA_born                      float64
label                          object
workclass_Federal-gov            bool
workclass_Local-gov              bool
workclass_Private                bool
workclass_Self-emp-inc           bool
workclass_Self-emp-not-inc       bool
workclass_State-gov              bool
workclass_Without-pay            bool
education_encoded             float64
sex_binary                      int64
race_Amer-Indian-Eskimo          bool
race_Asian-Pac-Islander          bool
race_Black                       bool
race_Other                       bool
race_White                       bool
label_binary                    int64
dtype: object

In [28]:
# Carguemos el dataset a un nuevo archivo:
df.to_csv('census_preprocesado.csv', index=False)
print("dataset guardado en 'census_preprocesado.csv'.")

dataset guardado en 'census_preprocesado.csv'.