Segundo laboratorio Automatización : 

Karen Tatiana Olarte

María José Rodriguez

Maria Jose Bedoya Carmona

In [183]:
import pandas as pd
df= pd.read_csv("census.csv")

In [184]:
# Veamos el dataset:
df

,age,workclass,education,race,sex,hours_per_week,USA_born,label
0,39.0,State-gov,Bachelors,White,Male,40.0,1.0,<=50K
1,50.0,Self-emp-not-inc,Bachelors,White,Male,13.0,1.0,<=50K
2,38.0,Private,High-school,White,Male,40.0,1.0,<=50K
3,53.0,Private,Some-high-school,Black,Male,40.0,1.0,<=50K
4,28.0,Private,Bachelors,Black,Female,40.0,0.0,<=50K
...,...,...,...,...,...,...,...,...
41711,33.0,Private,Bachelors,White,Male,40.0,1.0,<=50K
41712,39.0,Private,Bachelors,White,Female,36.0,1.0,<=50K
41713,38.0,Private,Bachelors,White,Male,50.0,1.0,<=50K
41714,44.0,Private,Bachelors,Asian-Pac-Islander,Male,40.0,1.0,<=50K
41715,35.0,Self-emp-inc,Bachelors,White,Male,60.0,1.0,>50K

In [185]:
# Descripción de las columnas:
df.info()
df.shape[1]                 #Dimensiones del df, (0,1), 1-->columnas, #de columnas=8

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41716 entries, 0 to 41715
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41617 non-null  float64
 1   workclass       41705 non-null  object
 2   education       41702 non-null  object
 3   race            41700 non-null  object
 4   sex             41701 non-null  object
 5   hours_per_week  41631 non-null  float64
 6   USA_born        41701 non-null  float64
 7   label           41716 non-null  object
dtypes: float64(3), object(5)
memory usage: 2.5+ MB

8

In [186]:
# Verifiquemos si hay datos faltantes:
print('Valores faltantes por columna:\n ')
print(df.isnull().sum(), '\n') #Devuelte un df con las mismas diemsio con True si el dato esta vacio (NaN) o false si no lo esta, . sum()suma los valores True e cada columna

Valores faltantes por columna:

age               99
workclass         11
education         14
race              16
sex               15
hours_per_week    85
USA_born          15
label              0
dtype: int64

In [187]:
# Descartemos las filas que tengan 3 o más datos faltantes:
df=df.dropna(thresh= df.shape[1] - 3)        #.dropna elimina las filas o columnas con valores faltantes(NaN)
                                             #df.shape arroja las dimensiones del dataframe (0,1), 1-->columnas, #de columnas=8
                                             #thresh=numero minimo de valores validos no nulos, en este caso sería, 8-3=5, 5 valores minimos no nulos

In [188]:
# Contemos de nuevo los datos faltantes:
print('Valores faltantes tras descartar filas con tres o más valores faltantes: \n')
print(df.isnull().sum(), '\n')

Valores faltantes tras descartar filas con tres o más valores faltantes:

age               85
workclass          0
education          0
race               0
sex                0
hours_per_week    68
USA_born           0
label              0
dtype: int64

In [ ]:
# Imputemos los datos faltantes de edad y horas trabajadas por semana con la mediana de cada una de esas columnas:
for i in ['age', 'hours_per_week']:
    df.loc[:, i] = df[i].fillna(df[i].median())                
                                                               
print('Valores faltantes tras imputar con la mediana: \n ')    
print(df[['age', 'hours_per_week']].isnull().sum(), '\n')

Valores faltantes tras imputar con la mediana:

age               0
hours_per_week    0
dtype: int64

In [190]:
# Contemos de nuevo los datos faltantes:
print(df.isnull().sum(), '\n')

age               0
workclass         0
education         0
race              0
sex               0
hours_per_week    0
USA_born          0
label             0
dtype: int64

In [ ]:
# Apliquemos one-hot encoding a la columna "workclass":
df=pd.get_dummies(df, columns=['workclass'], dtype=int)

,age,education,race,sex,hours_per_week,USA_born,label,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay
0,39.0,Bachelors,White,Male,40.0,1.0,<=50K,0,0,0,0,0,1,0
1,50.0,Bachelors,White,Male,13.0,1.0,<=50K,0,0,0,0,1,0,0
2,38.0,High-school,White,Male,40.0,1.0,<=50K,0,0,1,0,0,0,0
3,53.0,Some-high-school,Black,Male,40.0,1.0,<=50K,0,0,1,0,0,0,0
4,28.0,Bachelors,Black,Female,40.0,0.0,<=50K,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41711,33.0,Bachelors,White,Male,40.0,1.0,<=50K,0,0,1,0,0,0,0
41712,39.0,Bachelors,White,Female,36.0,1.0,<=50K,0,0,1,0,0,0,0
41713,38.0,Bachelors,White,Male,50.0,1.0,<=50K,0,0,1,0,0,0,0
41714,44.0,Bachelors,Asian-Pac-Islander,Male,40.0,1.0,<=50K,0,0,1,0,0,0,0
41715,35.0,Bachelors,White,Male,60.0,1.0,>50K,0,0,0,1,0,0,0

In [192]:
# Hallemos los valores que toma la columna "education":
df=df.sort_values(by='education')
df['education'].unique()

array(['Bachelors', 'Doctorate', 'Elementary-school', 'High-school',
       'Masters', 'Middle-school', 'Preschool', 'Some-college',
       'Some-high-school', 'Some-middle-school'], dtype=object)

In [ ]:
# Apliquemos ordinal encoding a la columna "education":
from sklearn.preprocessing import OrdinalEncoder 
encoder = OrdinalEncoder()                       
df['education_encoded'] = encoder.fit_transform(df[['education']]) 
                                                                   
                                                                   
                                                                   
                                                                  
                                                                   
df

,age,education,race,sex,hours_per_week,USA_born,label,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,education_encoded
0,39.0,Bachelors,White,Male,40.0,1.0,<=50K,0,0,0,0,0,1,0,0.0
18058,26.0,Bachelors,Black,Female,40.0,1.0,<=50K,0,1,0,0,0,0,0,0.0
18059,56.0,Bachelors,Black,Male,65.0,1.0,<=50K,1,0,0,0,0,0,0,0.0
18068,59.0,Bachelors,Black,Male,30.0,1.0,<=50K,0,1,0,0,0,0,0,0.0
18071,70.0,Bachelors,White,Male,20.0,0.0,<=50K,0,0,1,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12434,33.0,Some-middle-school,Other,Female,40.0,0.0,<=50K,0,1,0,0,0,0,0,9.0
9198,27.0,Some-middle-school,White,Male,40.0,0.0,<=50K,0,0,1,0,0,0,0,9.0
32703,28.0,Some-middle-school,White,Male,52.0,0.0,<=50K,0,0,1,0,0,0,0,9.0
36579,54.0,Some-middle-school,White,Male,55.0,1.0,<=50K,0,0,0,0,1,0,0,9.0
18272,26.0,Some-middle-school,Black,Male,40.0,0.0,<=50K,0,0,1,0,0,0,0,9.0

In [194]:
# Verifiquemos que la columna "education" tenga los valores apropiados:
df['education'].unique()

array(['Bachelors', 'Doctorate', 'Elementary-school', 'High-school',
       'Masters', 'Middle-school', 'Preschool', 'Some-college',
       'Some-high-school', 'Some-middle-school'], dtype=object)

In [195]:
# Apliquemos one-hot encoding a la columna "race":
df=pd.get_dummies(df, columns=['race'], dtype=int)
df

,age,education,sex,hours_per_week,USA_born,label,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,education_encoded,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White
0,39.0,Bachelors,Male,40.0,1.0,<=50K,0,0,0,0,0,1,0,0.0,0,0,0,0,1
18058,26.0,Bachelors,Female,40.0,1.0,<=50K,0,1,0,0,0,0,0,0.0,0,0,1,0,0
18059,56.0,Bachelors,Male,65.0,1.0,<=50K,1,0,0,0,0,0,0,0.0,0,0,1,0,0
18068,59.0,Bachelors,Male,30.0,1.0,<=50K,0,1,0,0,0,0,0,0.0,0,0,1,0,0
18071,70.0,Bachelors,Male,20.0,0.0,<=50K,0,0,1,0,0,0,0,0.0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12434,33.0,Some-middle-school,Female,40.0,0.0,<=50K,0,1,0,0,0,0,0,9.0,0,0,0,1,0
9198,27.0,Some-middle-school,Male,40.0,0.0,<=50K,0,0,1,0,0,0,0,9.0,0,0,0,0,1
32703,28.0,Some-middle-school,Male,52.0,0.0,<=50K,0,0,1,0,0,0,0,9.0,0,0,0,0,1
36579,54.0,Some-middle-school,Male,55.0,1.0,<=50K,0,0,0,0,1,0,0,9.0,0,0,0,0,1
18272,26.0,Some-middle-school,Male,40.0,0.0,<=50K,0,0,1,0,0,0,0,9.0,0,0,1,0,0

In [ ]:
# Apliquemos binary encoding a la columna "sex":
df['sex_binary']=df['sex'].map({'Female': 0, 'Male': 1})
                                                        
                                                        
df

,age,education,sex,hours_per_week,USA_born,label,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,education_encoded,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_binary
0,39.0,Bachelors,Male,40.0,1.0,<=50K,0,0,0,0,0,1,0,0.0,0,0,0,0,1,1
18058,26.0,Bachelors,Female,40.0,1.0,<=50K,0,1,0,0,0,0,0,0.0,0,0,1,0,0,0
18059,56.0,Bachelors,Male,65.0,1.0,<=50K,1,0,0,0,0,0,0,0.0,0,0,1,0,0,1
18068,59.0,Bachelors,Male,30.0,1.0,<=50K,0,1,0,0,0,0,0,0.0,0,0,1,0,0,1
18071,70.0,Bachelors,Male,20.0,0.0,<=50K,0,0,1,0,0,0,0,0.0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12434,33.0,Some-middle-school,Female,40.0,0.0,<=50K,0,1,0,0,0,0,0,9.0,0,0,0,1,0,0
9198,27.0,Some-middle-school,Male,40.0,0.0,<=50K,0,0,1,0,0,0,0,9.0,0,0,0,0,1,1
32703,28.0,Some-middle-school,Male,52.0,0.0,<=50K,0,0,1,0,0,0,0,9.0,0,0,0,0,1,1
36579,54.0,Some-middle-school,Male,55.0,1.0,<=50K,0,0,0,0,1,0,0,9.0,0,0,0,0,1,1
18272,26.0,Some-middle-school,Male,40.0,0.0,<=50K,0,0,1,0,0,0,0,9.0,0,0,1,0,0,1

In [202]:
# Apliquemos binary encoding a la etiqueta:
df['label_binary']=df['label'].map({'<=50K':0, '>50K':1})
df

,age,education,sex,hours_per_week,USA_born,label,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,...,workclass_State-gov,workclass_Without-pay,education_encoded,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_binary,label_binary
0,39.0,Bachelors,Male,40.0,1.0,<=50K,0,0,0,0,...,1,0,0.0,0,0,0,0,1,1,0
18058,26.0,Bachelors,Female,40.0,1.0,<=50K,0,1,0,0,...,0,0,0.0,0,0,1,0,0,0,0
18059,56.0,Bachelors,Male,65.0,1.0,<=50K,1,0,0,0,...,0,0,0.0,0,0,1,0,0,1,0
18068,59.0,Bachelors,Male,30.0,1.0,<=50K,0,1,0,0,...,0,0,0.0,0,0,1,0,0,1,0
18071,70.0,Bachelors,Male,20.0,0.0,<=50K,0,0,1,0,...,0,0,0.0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12434,33.0,Some-middle-school,Female,40.0,0.0,<=50K,0,1,0,0,...,0,0,9.0,0,0,0,1,0,0,0
9198,27.0,Some-middle-school,Male,40.0,0.0,<=50K,0,0,1,0,...,0,0,9.0,0,0,0,0,1,1,0
32703,28.0,Some-middle-school,Male,52.0,0.0,<=50K,0,0,1,0,...,0,0,9.0,0,0,0,0,1,1,0
36579,54.0,Some-middle-school,Male,55.0,1.0,<=50K,0,0,0,0,...,0,0,9.0,0,0,0,0,1,1,0
18272,26.0,Some-middle-school,Male,40.0,0.0,<=50K,0,0,1,0,...,0,0,9.0,0,0,1,0,0,1,0

In [198]:
# Veamos el dataset resultante:
df.head()

,age,education,sex,hours_per_week,USA_born,label,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,...,workclass_State-gov,workclass_Without-pay,education_encoded,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_binary,label_binary
0,39.0,Bachelors,Male,40.0,1.0,<=50K,0,0,0,0,...,1,0,0.0,0,0,0,0,1,1,0
18058,26.0,Bachelors,Female,40.0,1.0,<=50K,0,1,0,0,...,0,0,0.0,0,0,1,0,0,0,0
18059,56.0,Bachelors,Male,65.0,1.0,<=50K,1,0,0,0,...,0,0,0.0,0,0,1,0,0,1,0
18068,59.0,Bachelors,Male,30.0,1.0,<=50K,0,1,0,0,...,0,0,0.0,0,0,1,0,0,1,0
18071,70.0,Bachelors,Male,20.0,0.0,<=50K,0,0,1,0,...,0,0,0.0,0,0,0,0,1,1,0

In [199]:
# Veamos la nueva descripción del dataset:
df.describe(include='all')

,age,education,sex,hours_per_week,USA_born,label,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,...,workclass_State-gov,workclass_Without-pay,education_encoded,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_binary,label_binary
count,41694.000000,41694,41694,41694.000000,41694.000000,41694,41694.000000,41694.000000,41694.000000,41694.000000,...,41694.000000,41694.000000,41694.000000,41694.000000,41694.000000,41694.000000,41694.000000,41694.000000,41694.000000,41694.000000
unique,NaN,10,2,NaN,NaN,2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,High-school,Male,NaN,NaN,<=50K,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,14968,28187,NaN,NaN,31797,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,38.471651,NaN,NaN,40.742529,0.895045,NaN,0.030028,0.068115,0.742409,0.034729,...,0.043100,0.000456,4.043316,0.009402,0.030412,0.096369,0.008418,0.855399,0.676045,0.237372
std,13.351404,NaN,NaN,11.990589,0.306499,NaN,0.170667,0.251947,0.437313,0.183095,...,0.203084,0.021343,2.747751,0.096507,0.171720,0.295100,0.091366,0.351702,0.467989,0.425477
min,17.000000,NaN,NaN,1.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,28.000000,NaN,NaN,40.000000,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,37.000000,NaN,NaN,40.000000,1.000000,NaN,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
75%,47.000000,NaN,NaN,45.000000,1.000000,NaN,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,7.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
max,90.000000,NaN,NaN,99.000000,1.000000,NaN,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,9.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
# Verifiquemos el tipo de dato de cada columna:
print(df.dtypes)

age                           float64
education                      object
sex                            object
hours_per_week                float64
USA_born                      float64
label                          object
workclass_Federal-gov           int64
workclass_Local-gov             int64
workclass_Private               int64
workclass_Self-emp-inc          int64
workclass_Self-emp-not-inc      int64
workclass_State-gov             int64
workclass_Without-pay           int64
education_encoded             float64
race_Amer-Indian-Eskimo         int64
race_Asian-Pac-Islander         int64
race_Black                      int64
race_Other                      int64
race_White                      int64
sex_binary                      int64
label_binary                    int64
dtype: object

In [ ]:
# Carguemos el dataset a un nuevo archivo:
df.to_csv('census_preprocesado.csv', index=False) 
print("dataset guardado en 'census_preprocesado.csv'.")

dataset guardado en 'census_preprocesado.csv'.